canvas {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

body {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

li {
    display: block;
    margin: 0px;
    padding: 10px;
    width: 30%;
    text-align: left;
    border: 2px solid black;
}