body {
    background-color: lightgoldenrodyellow;
}
.app {
    background: darkslategray;
    border: 10px solid darkblue;
    border-radius: 5px;
    color: lightgoldenrodyellow
}
h1 {
    text-align: center;
}
#three-pictures {
    float: left;
    margin-left: 150px;
    border: 5px solid steelblue;
    border-radius: 10px;
}
#name {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px
}