text {
    font-family: 'Times New Roman', Times, serif;
}

image {
    height: 100px;
    width: 100px;
}

.product-card {
    border: 3px solid black;

}

ul {
    display: inline-flex;
    direction: row;
    list-style: none;
    text-align: center;
}

image {
    align-items: center;
    border: 20px;
}