body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: lightskyblue;
}

.product-card {
  
  height: 275px;
  width: 275px;
  /* border: 10px solid; */
  color: darkkhaki;
  border-collapse: collapse;
}

img {
  display: inline;
  justify-content: center;
  max-width: 270px;
  max-height: 270px;
  margin: 0 auto;
 
}

ul {
  display: inline-flex;
  flex-direction: row;
}

h4 {
  padding-bottom: 20px;
}