text {
    font-family: 'Times New Roman', Times, serif;
}

image {
    height: 100px;
    width: 100px;
}

.product-card {
    border: 2px solid black;

}

ul {
    display: inline-flex;
    direction: row;
    list-style: none;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

image {
    align-items: center;
    padding: 20px;
}