#product {
    width: 200px;
}

li {
    list-style: none;
}

#root {
    background-color: lightgray;
}

.products {
    border: 2px dotted dodgerblue;
    margin: 2px;
}

.product-card {
    border: 2px solid orange;
    background-color: white;
    margin: 2px;
}