body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: grey;
}

.product-card {
  
  height: 335px;
  width: 271px;
  border: 10px solid;
  color: darkkhaki;
  border-collapse: collapse;
}

img {
  display: inline;
  justify-content: center;
  max-width: 270px;
  max-height: 270px;
  margin: 0 auto;
 
}

ul {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

li {
  list-style-type: none;
}

h1, h3, h4 {
  text-align: center;
}

p {
  text-align: center;
}

.products {
  display: flex;
  margin: 0 auto;
  padding: 0;
}
