#root-image-display{
    display:flex;
    flex-direction: row;

}

.image-display{
    display:flex;
}

.list-item{
    border: 2px solid grey;
    margin-right: 10px;
}

.image-box{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


img {
    display:flex;
    flex-direction: row;
    width: 100px;
}

li{
    list-style: none;
    display:block;
}